<header>
  
    <!-- Background image -->
    <div class="p-5 text-center bg-image"
         style="
      background-image: url('https://media.istockphoto.com/id/1289220585/pt/foto/woman-applying-moisturiser-on-face-during-morning-routine.jpg?s=1024x1024&w=is&k=20&c=yPWO-VKH0KJGVjziu3HxVNK10CPeH_rjk2WIsSliokQ=');
      height: 400px;
      width: 90vw;
    ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white-50">
                    <h1 class="mb-1">AvaBeauty</h1>
                    <h4 class="mb-1">Bem Vindo, Cliente!</h4>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>
